<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Storing password in web.config is bad...use Azure Key Vault -->
    <add key="eml:AccountAddress" value=""/>
    <add key="eml:AccountPassword" value=""/>
    <add key="abs:Protocol" value="https" />
    <add key="abs:AccountName" value="" />
    <add key="abs:AccountKey" value="" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>